In [16]:
import pandas as pd
from sklearn.metrics import f1_score, accuracy_score

In [41]:
df = pd.read_csv('dimiss_items/data/eval/task2_data_subset_DebertaNluHeadDeberta_predictions.csv')
# df = pd.read_csv('dimiss_items/data/eval/task2_data_subset_DebertaNluRelationDeberta_predictions.csv')
df.columns

Index(['id', 'dialog_id', 'ut-2', 'ut-1', 'ut', 'ut+1', 'ut+2', 'head',
       'relation', 'tail', 'gold_reference', 'prediction'],
      dtype='object')

In [42]:
inccorect_preds = df[df['gold_reference'] != df['prediction']]
inccorect_preds = inccorect_preds.reset_index(drop=True)
print(f'Incorrect predictions: {len(inccorect_preds)} (All: {len(df)})')

Incorrect predictions: 474 (All: 2758)

In [43]:
# inccorect_preds.to_json(
#     'dimiss_items/data/eval/task2_data_subset_DebertaNluRelationDeberta_incorrect_predictions.json',
#     orient='records',
#     indent=4)

In [44]:
inccorect_preds_s100 = inccorect_preds.sample(100, random_state=0)

In [45]:
# inccorect_preds_s100.to_json(
#     'dimiss_items/data/eval/DebertaNluRelationDeberta_incorrect_predictions_s100.json',
#     orient='records',
#     indent=4)

In [46]:
# calc f1 score, accuracy
def f1_and_acc(df):
    f1 = f1_score(df['gold_reference'], df['prediction'], average='binary')
    acc = accuracy_score(df['gold_reference'], df['prediction'])
    print(f'F1: {f1}, Accuracy: {acc}')
    return pd.Series({'F1_Score': f1, 'Accuracy': acc})

In [47]:
f1_and_acc(df)

F1: 0.5477099236641222, Accuracy: 0.8281363306744017

F1_Score    0.547710
Accuracy    0.828136
dtype: float64

In [48]:
df['relation_p'] = df['relation'].apply(lambda x: x.replace('_relationship', ''))
df['relation_p'].unique()

array(['routine_habit', 'characteristic', 'goal_plan', 'experience'],
      dtype=object)

In [49]:
res_on_relation = df.groupby('relation_p').apply(f1_and_acc)
res_on_relation

F1: 0.5161290322580645, Accuracy: 0.8369565217391305
F1: 0.5061728395061729, Accuracy: 0.8357289527720739
F1: 0.46557377049180326, Accuracy: 0.7815013404825737
F1: 0.6430379746835443, Accuracy: 0.8550873586844809

/tmp/ipykernel_2097222/385143568.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  res_on_relation = df.groupby('relation_p').apply(f1_and_acc)

                F1_Score  Accuracy
relation_p
characteristic  0.516129  0.836957
experience      0.506173  0.835729
goal_plan       0.465574  0.781501
routine_habit   0.643038  0.855087

In [50]:
res_on_relation.round(4)

                F1_Score  Accuracy
relation_p
characteristic    0.5161    0.8370
experience        0.5062    0.8357
goal_plan         0.4656    0.7815
routine_habit     0.6430    0.8551

In [52]:
df['gold_reference'].value_counts()

gold_reference
False    2368
True      390
Name: count, dtype: int64

In [53]:
390/2368

0.16469594594594594